/*  Colors

background: #384D84  Dark blue
text color:  white
bordersss: #5177CD  Light blue
hover: #DB8198 White
*/
body{
 
color: black;
    font-size:  2em;
    text-align: center;
    margin: 1em;
    font-family: 'Mukta', sans-serif;
}

h1{
    font-size: 1.2em;
    margin: 1em;
    font-family: 'Mukta Mahee', sans-serif;
    
}
h2{
    font-size: 1.5em;
    margin: 0.5em;
    font-family: 'Mukta Mahee', sans-serif;
}


    
     
button{ 
    border:none;
width: 0px}
        
img{
 
     height: 7.5em;
     display: block;
     margin-left: auto;
     margin-right: auto;
            }
  section{
  background-color: rgb(238, 131, 69);
width: 100%;
height: 100;
            }
    
    .link{
        color: white;
        text-align: center;
        text-decoration: none;
        margin: 1em;
    
      
        
    }

.material-icons{
    color:white;
    font-size: 1em;


}

.logo{
    height: 10em;
    height: auto;
    width: 3250px;
    margin-left:auto;
    margin-right: auto; 
    text-align: center;
    width: 100%;
    height: 100%;
}
      

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    text-align: center
    
}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
}


.fm{
    height: 10em;
    margin-left: auto;
    margin-right: auto;
}
.smalltext{
    font-size: 0.5em;
    color:black;
    text-align: center;
}
.design{ 
   
    height: 25em;
    height: auto;
    width: 900px;
    margin-left:auto;
    margin-right: auto;
  
}
.footer{  height: 7.5em;
    height: auto;
    width: 75px;
    margin-left:auto;
    margin-right: auto;}
   
    .ps3{height: 10em;
    
        width: 350px;
        margin-left:auto;
        margin-right: auto;
    position: relative;
}
        

    .chess{height: 10em;
     
        width: 350px;
        margin-left:auto;
        margin-right: auto;
        position: relative;
    
    }

    .lego{
        height: 10em;
    
        width: 350px;
        margin-left:auto;
        margin-right: auto;
        position: relative;
        text-align: right
    }
    .photos{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     text-align: center;
     height: 50%;
     width: 100%;
    

    }
    



