/*  Colors

background: #384D84  white
text color: orange rgb(238, 131, 69);
bordersss: #5177CD  Light blue
hover: #DB8198 blue rgb(38, 83, 180);
*/
body{
    

color: black;
    font-size:  2em;
    text-align: center;
    margin: 1em;
    font-family: 'Philosopher', sans-serif;
}

h1{
    font-size: 1.5em;
    margin: 1em;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
   

    
}
h2{
    font-size: 1.2em;
    margin: 0.5em;
    font-family: 'Philosopher', sans-serif;
}


    
     
button{ 
    border:none;
width: 0px}
        
img{
 
     height: 7.5em;
     display: block;
     margin-left: auto;
     margin-right: auto;
            }
  section{
  background-color: rgb(238, 131, 69);
width: 100%;
height: 100;
            }
    
    .links{
        color: white;
        text-align: center;
        text-decoration: none;
        margin: 1em;
        
    
      
        
    }
    .link{
        color: white;
        text-align: center;
        text-decoration: none;
        margin: 1em;
    
      
        
    }

.material-icons{
    color:white;
    font-size: 1em;


}

.logo{
    height: 10em;
    height: auto;
    width: 325px;
    margin-left:auto;
    margin-right: auto; 
    text-align: center;
    width: 100%;
    height: 100%;
    background-color:  #1f66A4;
    width: 100%;
    
}
      

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    text-align: center
    
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    background-color: rgb(238, 131, 69);
}


.fm{
    height: 10em;
    margin-left: auto;
    margin-right: auto;
}
.smalltext{
    font-size: 0.5em;
    color:white;
    text-align: center;
}
.design{ 
   
    height: 25em;
    height: auto;
    width: 900px;
    margin-left:auto;
    margin-right: auto;
  
}
.footer{  height: 7.5em;
 
    width: 75px;
    margin-left:auto;
    margin-right: auto;}
   
    .ps3{height: 10em;
    
        width: 350px;
        margin-left:auto;
        margin-right: auto;
    position: relative;
}
        

    .chess{height: 10em;
     
        width: 350px;
        margin-left:auto;
        margin-right: auto;
        position: relative;
    
    }

    .lego{
        height: 10em;
        width: 350px;
        margin-left:auto;
        margin-right: auto;
        position: relative;
        text-align: right
    }
    .photos{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     text-align: center;
     height: 50%;
     width: 100%;
    
    }
    .apply{
        display: grid;
        grid-template-columns: 1fr;
        list-style: none;
        text-align: center;
        background-color: #1f66A4;
        text-shadow: rgb(238, 131, 69);
        border-radius: 8px

    }
    link:hover{
       background-color:  rgb(238, 131, 69);

    }

 .links:hover{
     background-color:rgb(38, 83, 180);
 }
 .link:hover{
    background-color:  rgb(238, 131, 69);

 }
 footer{ 
     background-color:  rgb(238, 131, 69);
    
     position: absolute;
     left: 0;
     bottom: 100;
     width: 100%;
     text-align: center;
    }

 .students{
     background-color:  rgb(238, 131, 69);
     color: white
 }
 .smalltexts{
    text-align: center;
    font-size: .2em;
    color: white;
    margin: 1em
 }

 .fotlink
 {
display: grid;
grid-template-columns:  1fr 1fr 1fr;
font-size: 0.3
 }


  
    


/**************************Media*********************************
***************************************************************/
 @media screen and (min-width: 320px) {
    
    body{
        font-size:.7rem ;
        font-family: 'Philosopher', sans-serif;
        text-align: center;
        
      
      
    }
     
        h1{
            font-size: 1rem;
            font-family: 'Philosopher', sans-serif;
        }
        .design{ 
   
            
            height: auto;
            width: 300px ;
            margin-left:auto;
            margin-right: auto;
        }
        .logo{
            height: 10em;
            height: auto;
            width: 50px;
            margin-left:auto;
            margin-right: auto; 
            text-align: center;
            width: 100%;
            height: 100%;
        }
        .ps3{height: 10em;
            height: auto;
            width: 200px;
            margin-left:auto;
            margin-right: auto;
        position: relative;
    }
            
    
        .chess{height: 10em;
            height: auto;
            width: 200px;
            margin-left:auto;
            margin-right: auto;
            position: relative;
        
        }
    
        .lego{
            height: auto;
        
            width: 200px;
            margin-left:auto;
            margin-right: auto;
            position: relative;
            text-align: right
        }
        .photos{
            background-color: white;
         display: grid;
         grid-template-columns: 1fr;
         text-align: center;
         height: 50%;
         width: 100%;
        }
        .menu{
            display: grid;
            grid-template-columns: 1fr;
            list-style: none;
         
        }

        .footicons{  height: auto;

            width: 25px;
            margin-left:auto;
            margin-right: auto;}
            
            .fotlink{
                display: grid;
                  grid-template-columns:  1fr 1fr 1fr;
                
                font-size:0.375em;
                width: 100%; }
                h4{
                    color:black;
                    font: 0.3
                }
           

}
@media screen and (min-width: 720px) {
    
    body{
        text-align: center;
        font-size:2em ;
        font-family: 'Philosopher', sans-serif;
        margin: auto
      
    }
     
        h1{
            font-size: 1em;
            font-family: 'Philosopher', sans-serif;
        }
        .design{ 
   
            height: 50em;
            height: auto;
            width: 700px;
            margin-left:auto;
            margin-right: auto;
        }
        .logo{
           
            height: auto;
            width: 100px;
            margin-left:auto;
            margin-right: auto; 
            text-align: center;
            width: 100%;
            height: 100%;
        }
        .ps3{height: 15em;
            height: auto;
            width: 350px;
            margin-left:auto;
            margin-right: auto;
        position: relative;
    }
            
    
        .chess{height: 15em;
            height: auto;
            width:350px;
            margin-left:auto;
            margin-right: auto;
            position: relative;
        
        }
    
        .lego{
            height: auto;
        
            width: 350px;
            margin-left:auto;
            margin-right: auto;
            position: relative;
            text-align: right
        }
        .photos{
            background-color: white;
         display: grid;
         grid-template-columns: 1fr;
         text-align: center;
         height: 50%;
         width: 100%;
        }
        .menu{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            list-style: none;
        }
        .fotlink{
            display: grid;
              grid-template-columns:  1fr 1fr 1fr;
            font-size:0.375em;
            width: 100%
}
      
            .footicons{  height:auto;
 
                width: 35px;
                margin-left:auto;
                margin-right: auto;}
}
@media screen and (min-width: 1400px) {
    
    body{
        text-align: center;
        font-size: 1.5em ;
        font-family: 'Philosopher', sans-serif;
      
    }
     
        h1{
            font-size: 1em;
            font-family: 'Philosopher', sans-serif;
        }
        .design{ 
   
            height: 50em;
            height: auto;
            width: 1300px;
            margin-left:auto;
            margin-right: auto;
        }
        .logo{
           
            height: auto;
            width: 250px;
           
            text-align: center;
            width: 100%;
            height: 100%;
        }
        .ps3{height: 25em;
            height: auto;
            width: 700px;
            margin-left:auto;
            margin-right: auto;
        position: relative;
    }
            
    
        .chess{height: 25em;
            height: auto;
            width:700px;
            margin-left:auto;
            margin-right: auto;
            position: relative;
        
        }
    
        .lego{
            height: auto;
        
            width: 700px;
            margin-left:auto;
            margin-right: auto;
            position: relative;
            text-align: right
        }
        .photos{
            background-color: white;
         display: grid;
         grid-template-columns: 1fr;
         text-align: center;
         height: 50%;
         width: 100%;
        }
        .menu{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
            list-style: none;
        }
        footer{ height: auto;
            width: auto;
            margin-left:auto;
            margin-right: auto;
              position: absolute;
              left: 0;
              bottom: 100;
              width: 100%;
              text-align: center;
        }
          
        
            .smalltexts{
                text-align: center;
                font-size: 0.1em;
                color: white;
                margin: 0.5em
             }
        .fotlink{
                display: grid;
                  grid-template-columns:  1fr 1fr 1fr;
                
                font-size:0.375em;
                width: 100%
 }
 .footicons{  height:auto;
 
    width: 50px;
    margin-left:auto;
    margin-right: auto;}
   
    .links{
        color: white;
        text-align: center;
        text-decoration: none;
        margin: 1.5em;
}


}




   
    
    



